# Python
*.pyc
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Data artifacts
data/
mlruns/
mlfartifacts/

# DVC files
.dvc/
.dvcignore

# Other files to ignore
features.csv
targets.csv
